/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


/* Typography */
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-image: url('../img/fundal.png');
	background-position: center top;
    background-color:#e6e6e7;
	background-repeat: repeat-x;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:150%;
    height:100%;
    margin:0;
    padding:0;
    /*text-transform:uppercase;*/
    width:100%;
	color: #333;
}
body#conectare {
	height: auto;
}
	body#conectare .container {
		background-image: none;
		width: 100%;
		min-height: auto;
		padding-bottom: 0;
		position: relative;
	}

	h1 {
		text-transform: none;
		font-size: 24pt;
		color: #bf7329;
		font-weight: 300;
	}
	h1 > strong { color: #333; }
	p.sfat,
	p.info-email,
	p.info-adresa {
		color: #666;
		padding-left: 30px;
		line-height: 1.3em;
		text-shadow: 1px 1px solid #fff;
		background: transparent url('../img/lightbulb.png') left 0.3em no-repeat;
	}
	p.sfat strong { 
		color: #333;
		font-weight: 700;
	}
	p.info-email { background: transparent url('../img/email.png') left 0.3em no-repeat; }
	p.info-adresa { background: transparent url('../img/pin.png') left 0.3em no-repeat; }
	p.strong { font-weight: 700; }
	
	hr {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #fff;
	}
	hr.spacer {
		margin: 0.5em -1em;
	}
	a {
		color: #446630;
	}
	
	/* Google Maps */
	#map_canvas {
		border: 0.2em solid #fff;
		width: 100%;
		height: 15em;
		min-height: 50%;
		margin-bottom: 1em;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	/* */
	p.success, p.warning, p.error {
		font-weight: 700;
		font-size: 0.8em;
		padding: 0.4em 0.7em;
		border-radius: 0.5em;
		margin: 0.2em 0;
	}
	.error { background: #f00; color: #fff; }
	.warning { background: #ffe69b; color: #72590c; }
	.success { background: #76c043; color: #fff; }
	
	.text-error { background: inherit; color: #f00 !important; }
	.text-warning { background: inherit; color: #ffe69b !important; }
	.text-success { background: inherit; color: #76c043 !important; }
	

/* Structure */
	.container {
		background: transparent url('../img/footer.png') center bottom no-repeat;
		padding-bottom: 38px;
		width: 100%;
		min-height: 100%;
		padding-bottom: 38px;
		position: absolute;
		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
		.wrap {
			padding-left: 1em;
			padding-right: 1em;
			clear: both;
		}
			header {
				background: transparent url('../img/linie_orizontala.png') center bottom no-repeat;
				height: 60px;
				padding-top: 20px;
				padding-bottom: 20px;
			}
				#brand {
					height: 47px;
					width: 127px;
					float: left;
					margin-top: 0.8em;
					background: transparent url('../img/logo_mic.png') no-repeat; 
				}
				#top-menu{
					margin: 0.5em 0 0;
					float: right;
				}
					#top-menu li,
					#tabs-detaliicomanda li {
						float: left;
						list-style: none;
						margin-left: 0;
					}
					#top-menu li a,
					#tabs-detaliicomanda li a {
						background-color: transparent;
						display: block;
						width: auto;
						height: auto;
						min-width: 32px;
						padding: 3em 1.2em 0;
						text-decoration: none;
						font-size: 0.5em;
						background-repeat: no-repeat;
						background-position: center top;
						text-transform: lowercase;
						text-align: center;
					}
					#top-menu #acasa { background-image: url('../img/home.png'); }
					#top-menu #cont { background-image: url('../img/key.png'); }
					#top-menu #contact { background-image: url('../img/phone.png'); }
					#top-menu #comenzi { background-image: url('../img/tag.png'); }
						#top-menu li a span {
							color: #999;
							text-align: center;
						}
						#top-menu li.pagina-curenta a span { color: #000; }
					
			.tabs {
				width: 100%;
				margin: 0 auto;
			}
				.swiper-container { 
					height: auto;
					width: 100%;
					float: left;
					background: #fff;
					border: none;
					border-left: 1px solid #ccc;
					border-top: 1px solid #ccc;
					position: relative;
					z-index: -1;
				}
					.swiper-slide {
						min-height: 300px;
						width: 100%;
						background: none;
					}
						.swiper-slide > ul {
							float: left;
							margin: 0;
							padding: 0.5em 0;
							list-style: none;
							width: 100%;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							box-sizing: border-box;
						}
						
						/* Tab-uri detalii comanda */
						#tabs-detaliicomanda {
							float: left;
							position: relative;
							margin: 0 0 -2px;
							padding: 0;
							z-index: 100;
						}
							#tabs-detaliicomanda li {
								padding: 0.5em 0;
								border: none;
							}
							#tabs-detaliicomanda li a { float: left; min-width: 64px; }
							#tabs-detaliicomanda li.active {
								border-left: 1px solid #ccc;
								border-top: 1px solid #ccc;
								background: #fff !important;
							}
								#tabs-detaliicomanda a span {
									color: #999;
									text-align: center;
								}
								#tabs-detaliicomanda li.active span { color: #000; }

							#tabs-detaliicomanda #detaliicomanda-produse { background-image: url('../img/order.png'); }
							#tabs-detaliicomanda #detaliicomanda-livraresiplata { background-image: url('../img/shipping.png'); }
							#tabs-detaliicomanda #detaliicomanda-istoric { background-image: url('../img/flag.png'); }
							
						/* Istoric */
						#content-detaliicomanda-istoric {
							padding: 0;
						}
						.swiper-slide > ul > li {
							padding: 0.5em 1em;
							float: left;
							width: 100%;
							margin-left: 0;
							border-bottom: 1px solid #ddd;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							box-sizing: border-box;
						}



					/* Scaffolding */
					.row {
						float: left;
						width: 100%;
					}
					.row label { font-size: 0.8em; }
					.row p { margin: 0.1em 0 0.5em; }
						.col-1 {
							float: left;
							width: 100%;
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							box-sizing: border-box;
						}
						.col-2, .col-3, .col-4, .col-2_3 {
							float: left;
							width: 50%;
							padding-right: 1em;
							
							-moz-box-sizing: border-box;
							-webkit-box-sizing: border-box;
							box-sizing: border-box;
						}
						.col-3 { width: 33%; }
						.col-2_3 { width: 66%; }
						.col-4 { width: 25%; }
						.col-2:last-child, 
						.col-3:last-child, 
						.col-2_3:last-child, 
						.col-4:last-child { padding-right: 0; }

/* Pagini */
			/* Conectare */
			#conectare header { height: 110px; }
				#conectare #brand {
					display: block;
					float: none;
					margin: 0 auto;
					height: 111px;
					width: 294px;
					background: transparent url('../img/logo.png') no-repeat; 
				}
			#sterge-sesiune {
				display: block;
				margin: 2em 0 2em;
			}
			
	/* Orders */
	#categories-list {
		list-style: none;
		margin: 1.3em -1em;
		padding: 0;
	}
		#categories-list > li {
			border-top: 1px solid #fff;
			border-bottom: 1px solid #bcbbba;
		}
		#categories-list > li:first-child {
			-moz-box-shadow: 0 -1px 0 #bcbbba;
			-webkit-box-shadow: 0 -1px 0 #bcbbba;
			-o-box-shadow: 0 -1px 0 #bcbbba;
			box-shadow: 0 -1px 0 #bcbbba;
		}
		#categories-list > li:last-child {
			border-bottom: none;
		}

			/*#categories-list > li,*/
			#categories-list > li > a {
				padding: 0.5em 1em 0.5em 3em;
				display: block;
				font-size: 1.2em;
				text-decoration: none;
				color: #333;
				background: transparent url('../img/icon-lista-categorii.png') 1em center no-repeat;
			}
			#categories-list > li.current,
			/*#categories-list > li > a:hover,*/
			/*#categories-list > li > a:focus,*/
			#categories-list > li > a:active {
				background-color: #d1e288;
			}
				.subcategories-list {
					list-style: none;
					padding: 0;
					margin: 0;
					background: #fff;
					display: none;
				}
				/*
				li.current .subcategories-list,
				li > a:focus.subcategories-list,
				li > a:active .subcategories-list {
					display: block;
				}
				*/
					.subcategories-list > li {
						border-bottom: 1px dashed #659131;
					}
					.subcategories-list > li:last-child { border-bottom: none; }
						
						.subcategories-list > li,
						.subcategories-list > li > a {
							padding: 0.5em 0;
							margin: 0 1em 0 1.5em;
							display: block;
							font-size: 1em;
							text-decoration: none;
							color: #333;
						}
				
	
	/* Messages or orders history */
	#orders-history,
	#messages-history {
		display: block;
		list-style: none;
		margin: 0 0 1.3em;
		padding: 0;
	}
		#orders-history > li,
		#messages-history > li {
			margin-top: 0;
			display: block;		
			padding: 0.5em 1em;
			color: #666;
			background: #fff;
			border-bottom: 2px solid transparent;
			
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		#content-detaliicomanda-istoric > li,
		#orders-history > li {
			border: 0 none transparent;
			border-left: 7px solid #dcdcdc;
			margin-bottom: 2px;

			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			-o-border-radius: 0;
			border-radius: 0;
		}
		#content-detaliicomanda-istoric > li {
			border-bottom: 1px solid #ddd;
		}
		#content-detaliicomanda-istoric > li.error,
		#orders-history > li.error {
			background: #f6e0d4;
			border-left-color: #da2726;
		}
		#content-detaliicomanda-istoric > li.warning,
		#orders-history > li.warning {
			background: #fef7bd;
			border-left-color: #fee600;
		}
		#content-detaliicomanda-istoric > li.success,
		#orders-history > li.success {
			background: #e0ecbc;
			border-left-color: #75bf43;
		}
			#orders-history > li .orders-history-status, 
			#show-if-logged .orders-history-status, 
			#orders-history > li .orders-history-produse { 
				color: #666;
				font-size: 0.6em; 
				line-height: 1em; 
			}
			#show-if-logged .orders-history-suma,
			#show-if-logged .orders-history-productname,
			#orders-history > li .orders-history-suma {
				color: #666;
			}
			#show-if-logged .orders-history-productname {
				margin: 0 0 0.3em;
				font-size: 0.8em;
				font-size: 0.8em;
			}
			#detaliicomanda h1 {
				margin: 0 0 1em;
				font-size: 1em;
			}
			#detaliicomanda #show-if-logged {
				margin-top: 0.7em;
			}
			#show-if-logged .orders-history-suma > strong,
			#orders-history > li .orders-history-suma > strong {
				color: #000;
			}
			
			#orders-history > li.error .orders-history-status,
			#orders-history > li.error .orders-history-more,
			#content-detaliicomanda-istoric > li.error .orders-history-status,
			#content-detaliicomanda-listaproduse > li.error .orders-history-status,
			#content-detaliicomanda-istoric > li.error .orders-history-more,
			#content-detaliicomanda-listaproduse > li.error .orders-history-more { 
				color: #da2726; 
			}
			#orders-history > li.warning .orders-history-more,
			#content-detaliicomanda-istoric > li.warning .orders-history-more,
			#content-detaliicomanda-listaproduse > li.warning .orders-history-more { 
				color: #fee600; 
			}
			#orders-history > li.warning .orders-history-status,
			#content-detaliicomanda-istoric > li.warning .orders-history-status,
			#content-detaliicomanda-listaproduse > li.warning .orders-history-status {
				color: #b59900;
			}
			#orders-history > li.success .orders-history-more,
			#content-detaliicomanda-istoric > li.success .orders-history-more,
			#content-detaliicomanda-listaproduse > li.success .orders-history-more {
				color: #75bf43; 
			}
			#orders-history > li.success .orders-history-status,
			#content-detaliicomanda-istoric > li.success .orders-history-status,
			#content-detaliicomanda-listaproduse > li.success .orders-history-status {
				color: #48871b;
			}
			#content-detaliicomanda-listaproduse .orders-history-image {
				width: 75px;
				height: 75px;
				border: none;
				margin-right: 1em;
			}
		
		#messages-history > li:nth-child(2n) {
			background: #f6f9df;
		}
			#orders-history > li .orders-history-date,
			#show-if-logged .orders-history-date,
			#messages-history > li .message-history-date {
				font-weight: 700;
				font-size: 0.6em;
				line-height: 1.3em;
				color: #333;
			}
			#content-detaliicomanda-istoric  > li .orders-history-date,
			#content-detaliicomanda-istoric  > li .orders-history-status {
				font-size: 0.9em;
				line-height: 1.3em;
			}
			#show-if-logged .orders-history-link,
			#orders-history > li .orders-history-link {
				font-size: 0.7em;
			}
			#orders-history > li .orders-history-orderid {
				color: #666;
				font-size: 0.8em;
			}
			#orders-history > li .orders-history-orderid strong {
				color: #000;
				font-size: 1.1em;
				font-weight: 700;
			}
			#messages-history > li .message-history-message {
				color: #000;
			}
			#content-detaliicomanda-listaproduse .orders-history-more,
			#orders-history > li .orders-history-more { 
				font-size: 3em; 
				line-height: 1em; 
				color: #446630; 
			}

	.message-body-pointer {
		border-color: transparent transparent #fff;
		border-image: none;
		border-style: solid;
		border-width: 0.8em;
		height: 0;
		width: 0;
		margin-left: 0.8em;
		margin-top: -0.8em;
	}
		
	/* Show Oonly if logged in */
	.if-logged { display: none !important; }
	
/* Forms */
label {
	display: block;
	color: #666;
}
input[type="text"],
input[type="password"],
select,
textarea {
	padding: 0.5em 0.7em;
}
button {
	padding: 0;
	border: none;
	cursor: pointer;
	background: transparent none;
}
fieldset {
	padding: 0;
	border: none;
	margin: 0 0 1em;
}

/* Misc */
.floater { float: left; }
.floater.right { float: right; }
.clearfloat { clear: both; }
.force-wrap { word-wrap: break-word; -moz-hyphens: auto; -ms-hyphens: auto; -o-hyphens: auto; hyphens: auto; }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}
